<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--    开启注解扫描，只扫描controller注解-->
    <context:component-scan base-package="com.hailicy">
        <context:include-filter type="annotation" expression=
                "org.springframework.stereotype.Controller" />
    </context:component-scan>

    <!--    视图解析器对象-->
    <bean id="internalResourceViewResolver" class=
            "org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"></property>
        <!--        后缀名配置    -->
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!--&lt;!&ndash;    配置自定义转换器&ndash;&gt;-->
    <!--    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">-->
    <!--        <property name="converters">-->
    <!--            <set>-->
    <!--                <bean class="com.hailicy.utils.StringToDateConverter"></bean>-->
    <!--            </set>-->
    <!--        </property>-->
    <!--    </bean>-->


    <!--    前端控制器，哪些静态资源不拦截，js目录下所有都不拦截-->
    <mvc:resources location="/js/"  mapping="/js/**" />
    <mvc:resources location="/images/"  mapping="/images/**" />
    <mvc:resources location="/css/"  mapping="/css/**" />


    <!--配置文件解析器对象-->

<!--    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
<!--        <property name="maxUploadSize" value="1048760"></property>-->
<!--    </bean>-->

    <!--    开启psringmvc框架注解的支持-->
        <mvc:annotation-driven />


</beans>